@import 'constants';
@import 'responsive';
@import 'mixins';
@import 'fonts';
.btn, a.btn, button.btn, input.btn {
  text-align: center; padding: auto 20px;
  text-transform: uppercase; letter-spacing: 2px;
  display: block; text-decoration: none;
  vertical-align: middle;
  height: 40px; line-height: 40px;
  border-radius: 32px; border-width:2px;
  &:hover {opacity: 0.8;}
  &.inline {display: inline-block; padding-right: 20px; padding-left: 20px;}
  &.block {display: block;width:100%;box-sizing:border-box;padding: 0;}
}
.btn.large       {font-size: 130%; line-height: 50px; height: 50px}
.btn.small       {font-size: 90%; line-height: 30px; height: 30px}
.btn.primary     { background: $c1; color: #fff; &:hover, &:active { background: $c1hov; } }
.btn.secondary   { background: $c2; color: #fff; &:hover, &:active { background: $c2hov; } }
@include max-screen(480px) {
  .btn.large { font-size: 90%; }
}
@include max-screen(520px) {
  .btn.large { font-size: 100%; }
}
@include max-screen(730px) {
  .btn.large { font-size: 120%; }
  .btn, a.btn, button.btn, input.btn {
    &.inline.mobile {
      display: block; width: 100%;box-sizing: border-box;
      padding-top: 0px; padding-bottom: 0px;
    }
  }
  body {padding-bottom: 0px;}
}