.f120  {font-size: 120%;}
.f150  {font-size: 150%;}
.f175  {font-size: 175%;}
.f200  {font-size: 200%;}
.f250  {font-size: 250%;}
.f300  {font-size: 300%;}
.f350  {font-size: 350%;}
.upcase {text-transform: uppercase;}
h1,h2,h3 {margin: 0; padding: 10px;}
